@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1 style="color:@(currentCount >= 1 && currentCount <= 5 ? "red" : "black")">Counter</h1>

<p role="status">Current count: @currentCount</p>

<RadzenButton Text="Click me" class="btn btn-primary" Click="IncrementCount"></RadzenButton>
<RadzenButton Text="-" class="btn btn-primary" Click="DecrementCount"></RadzenButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }
}
