
@page "/"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject IStateBox<List<TaskItem>> sessionState

<PageTitle>Home</PageTitle>

<h1>Tasks</h1>

<div>
    <button class="btn btn-primary" @onclick="OnButtonClick">add</button>
</div>

<div>
    <RadzenDataGrid @ref="grid" Data="tasks" TItem="TaskItem" LoadData="LoadTasks" ColumnWidth="200px" class="table">
        <Columns>
            <RadzenDataGridColumn TItem="TaskItem" Property="Status" Title="状態" />
            <RadzenDataGridColumn TItem="TaskItem" Property="DueDate" Title="期限" FormatString="{0:yyyy/MM/dd}" />
            <RadzenDataGridColumn TItem="TaskItem" Property="Title" Title="題名" />
            <RadzenDataGridColumn Title="内容">
                <Template Context="task">
                    <div>@Regex.Replace(task.Content, @"(.*)(\r\n|\n).*", "$1")</div>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>